<div class="splash-container">
  <div class="intro-message">
    <p>On February 26th, just 447 people will decide the next chair of the Democratic National Committee. Make <span class="underline">your</span> voice heard!</p>
    <p style="margin-top: 80px;"><strong>The DNC:</strong></p>
    <ul>
      <li>Establishes our unified party platform.</li>
      <li>Recruits and helps elect candidates.</li>
      <li>Administers the Presidential nomination process.</li>
    </ul>
  </div>
</div>
<article id="why">
  <div class="article-image right">
    <img src="../images/dem-logo.svg" style="width: 100%;margin-top: 30px;"/>
  </div>
  <div class="article-text">
    <h2>The DNC is failing</h2>
    <p>Not only did it fail on November 8th, but while <a href="http://www.politico.com/story/2016/10/how-many-registered-voters-are-in-america-2016-229993" target="_blank">43% of new voters identify as Democrats</a> compared to 29% for Republicans, the Democratic Party is <a href="http://thehill.com/homenews/campaign/306736-dems-hit-new-low-in-state-legislatures" target="_blank">hemorrhaging seats at the federal, state, and local levels</a>. </p>
  </div>
  <div class="article-text">
    <h2>We can <span class="underline">not</span> wait until 2020 to reshape our party.</h2>
    <p>Let’s make sure that on February 26th, it’s not just 447 voices that select our next leader, but the 72 million voices of the Democratic Party.</p>
  </div>
</article>
<!--
<article id="how">
  <h2>How</h2>
  <div class="step">
    <div class="article-image left">
      <img src="../images/voice.svg" style="height: 100%;margin-top: 30px;"/>
    </div>
    <div class="article-text">
      <h3>Step 1</h3>
      <p>Start right now by lending your voice to the DNC chair elections.</p>
    </div>
  </div>
  <div class="step">
    <div class="article-image left">
      <img src="../images/vote.svg" style="height: 80%;margin-top: 30px;"/>
    </div>
    <div class="article-text">
      <h3>Step 2</h3>
      <p>Check out the candidates and endorse a candidate.</p>
    </div>
  </div>
  <div class="step">
    <div class="article-image left">
      <img src="../images/mail.svg" style="height: 80%;margin-top: 30px;"/>
    </div>
    <div class="article-text">
      <h3>Step 3</h3>
      <p>We provide you with contact information to let your delegates know who to vote for on February 26.</p>
    </div>
  </div>
</article>
-->