<div class="splash-container">
  <div class="intro-message">
    <div class="calendar">
      <div class="calendar-month">Feb</div>
      <div class="calendar-day">26</div>
    </div>
    <p>On February 26th, just <strong>447</strong> people will decide the next chair of the Democratic National Committee.</p>
    <span class="vertical-line-med"></span>
    <p>Why is the DNC important?</p>
    <p class="arrow"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></p>
  </div>
</div>
<article class="intro-message dnc">
  <h1><strong>The DNC:</strong></h1>
  <p class="left"><img src="../images/unified.svg" class="right" /> Establishes our unified party platform.</p>
  <p class="right"><img src="../images/recruit.svg" class="left" /> Recruits and helps elect candidates.</p>
  <p class="left"><img src="../images/process.svg" class="right" /> Administers the Presidential nomination process.</p>
  </ul>
  <span class="vertical-line-xl"></span>
</article>
<article class="intro-message dnc-fail">
  <span class="vertical-line-med"></span>
  <h1><strong>...but the DNC is failing.</strong></h1>
  <p class="arrow"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></p>
</article>
<article class="intro-message why">
  <span class="vertical-line-sm"></span>
  <p>Not only did it <strong>fail</strong> on November 8th,</p>
  <p class="left">but while <a href="http://www.politico.com/story/2016/10/how-many-registered-voters-are-in-america-2016-229993" target="_blank"><strong>43%</strong> of new voters identify as Democrats</a></p>
  <p class="right">compared to <strong>29%</strong> for Republicans,</p>
  <span class="vertical-line-xl"></span>
  <p class="lrg">the Democratic Party is <a href="http://thehill.com/homenews/campaign/306736-dems-hit-new-low-in-state-legislatures" target="_blank">losing seats at the federal, state, and local levels</a>.</p>
  <p class="arrow"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></p>
</article>
<div class="splash-container">
  <div class="intro-message outro">
    <h2><strong>We can <span class="underline">not</span> wait until 2020 to reshape our party.</strong></h2>
    <span class="vertical-line-med"></span>
    <p>Let's make sure that on February 26th, it's not just 447 voices that select our next leader, but the <strong>72 million</strong> voices of the Democratic Party.</p>
    <p class="arrow"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></p>
    <p class=""><a ui-sref='candidates.overview' role="button" class="endorse-btn">Endorse a Candidate!</a></p>
  </div>
</div>