<div class="splash-container">
  <div class="intro-message">
    <p>On February 26, the next Democratic National Committee chair will be chosen by 447 people. We are here to give a voice to the other 72 million Democrats. That means <span class="underline">you</span>.</p>
    <a href="#!/about#why" role="button">Learn More</a>
  </div>
</div>
<article id="why">
  <div class="article-image right">
    <img src="../images/dem-logo.svg" style="width: 100%;margin-top: 30px;"/>
  </div>
  <div class="article-text">
    <h2>Why</h2>
    <p>The DNC matters: its next chair is responsible for creating and executing on a plan for getting Democrats elected in the coming year. While new voter registration <a href="http://www.politico.com/story/2016/10/how-many-registered-voters-are-in-america-2016-229993" target="_blank">leans heavily Democratic</a>, the number of Democrats elected to office <a href="http://thehill.com/homenews/campaign/306736-dems-hit-new-low-in-state-legislatures" target="_blank">continues to decline</a>. We need to take back our party if we want to take back our country.</p>
  </div>
</article>
<article id="how">
  <h2>How</h2>
  <div class="step">
    <div class="article-image left">
      <img src="../images/voice.svg" style="height: 100%;margin-top: 30px;"/>
    </div>
    <div class="article-text">
      <h3>Step 1</h3>
      <p>Start right now by lending your voice to the DNC chair elections.</p>
    </div>
  </div>
  <div class="step">
    <div class="article-image left">
      <img src="../images/vote.svg" style="height: 80%;margin-top: 30px;"/>
    </div>
    <div class="article-text">
      <h3>Step 2</h3>
      <p>Check out the candidates and endorse a candidate.</p>
    </div>
  </div>
  <div class="step">
    <div class="article-image left">
      <img src="../images/mail.svg" style="height: 80%;margin-top: 30px;"/>
    </div>
    <div class="article-text">
      <h3>Step 3</h3>
      <p>We provide you with contact information to let your delegates know who to vote for on February 26.</p>
    </div>
  </div>
</article>