<div class="row">
	<div class="candidate-overview col-xs-12">
		<h2>Candidate Endorsement</h2>
		<h3>Step 1</h3>
		<p>Read through the candidate profiles. Click on each candidate's name on the left to see their bio, personal statement and platform.</p>
		<h3>Step 2</h3>
		<p>Endorse your choice for DNC chair by clicking on the 'Endorse' button. You can only endorse one candidate. Information collected is used to help us connect you to your electors.</p>
		<h3>Step 3</h3>
		<p> Check out your list of electors and contact a few of them to let them know who you'd like them to vote for as next DNC chair on Feb 26.</p>
		<a ui-sref="results" role="button">See how others voted</a>
	</div>
</div>