<div class="row">
  <div class="candidate-overview col-xs-12">
    <h3>Check out the candidates</h3>
    <p>Click on each candidate's name on the left to see their bio, personal statement and platform.</p>
    <h3>Endorse your choice for DNC chair</h3>
    <p>Click on the ‘endorse’ button and fill out your information. Your endorsement will be tallied in real time on our results page and sent to your state party officials to let them know directly!</p>
    <h3>Amplify your voice</h3>
    <p>Send a postcard to your state committee. Call your delegates. Share your endorsement online.</p>
  </div>
</div>