<div class="modal-container">
    <div class="modal-header">
        <h2 class="modal-title" id="modal-title">Endorse {{candidate.first_name}} {{candidate.last_name}}</h2>
    </div>
    <div ng-if="!confirmed">
        <div class="modal-body" id="modal-body">
            <h4>Are you sure you want to endorse {{candidate.first_name}} {{candidate.last_name}}?</h4>
            <p>You are only allowed one endorsement.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="confirm()">Yes, I'm Sure</button>
        </div>
    </div>
    <div ng-if="confirmed">
        <p ng-if="errored" class="text-danger">An error occurred while registering your email. Please try again.</p>
        <form novalidate class="simple-form">
            <div class="modal-body" id="modal-body">
                <span class="input-container">
                    <label>First Name:</label> <input type="text" ng-model="user.first_name" placeholder="First Name" /></label>
                </span>
                <span class="input-container">
                    <label>Last Name:</label> <input type="text" ng-model="user.last_name" placeholder="Last Name" />
                </span>
                <span class="input-container">
                    <label>E-mail:</label> <input type="email" ng-model="user.email" required placeholder="Valid e-mail address" />
                </span>
                <span class="input-container">
                    <label>Zip Code:</label> <input type="text" ng-model="user.zip" placeholder="Zip Code (if in the U.S.)" />
                </span>
                <span class="checkbox-container">
                    <label><input type="checkbox" ng-model="user.abroad">I live abroad.</label>
                </span>
                <span class="input-container age">
                    <label>Age:</label> <input type="text" ng-model="user.age" placeholder="Age" />
                </span>
                <span class="input-container age">
                    <label>Gender:</label>
                    <select ng-model="demo.gender">
                        <option value="">Choose your gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()" value="Cancel">Cancel</button>
                <button class="btn btn-primary" type="submit" ng-click="endorse(user)" value="Endorse!">Endorse!</button>
            </div>
        </form>
    </div>
</div>
